@{
    ViewData["Title"] = "Support";
}

    <h1>You have the opportunity to ask any questions about our resource!</h1>
<div>
    <label class="font-weight-bold text-uppercase" id="header">Join Chat</label><br><br>

    <input id="sendmessage" type="button" value="Join chat" />
    <input id="messageTextInput" type="text" /><br />

    <div>
        <ul class="list-group-horizontal-md" id="chatMessages"></ul>
    </div>
    <script src="~/js/chatstream.js"></script>
</div>
