@model AccountLoginViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor context

<h1>Registration</h1>
<form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUri="@context.HttpContext.Request.Path">
    <div>
        <div>
            <label asp-for="UserName"></label>
            <input asp-for="UserName" />
        </div>
        <div>
            <label asp-for="EMail"></label>
            <input asp-for="EMail" />
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
        </div>
        <button type="submit">LogIn</button>
    </div>
</form> 