@model AccountRegisterViewModel

@{
    ViewData["Title"] = "Registration";
}

@{
    var error = ViewData["errors"] as IEnumerable<IdentityError>;
    if (error != null)
    {
        foreach (var err in error)
        {
            @err.Description
            <br />
;
        }
    }
}


<form style="width: 500px; margin-left: auto; margin-right: auto; padding: 10px" asp-controller="Account" asp-action="Register" method="post">
    <h3 style="text-align: center">Registration</h3>
    
    <div asp-validation-summary="All"></div>

    <div>
        <label style="margin-top: 10px;" asp-for="EMail"></label><br>
        <input style="width:100%" asp-for="EMail" /><br>
    </div>
    <div>
        <label style="margin-top: 10px" asp-for="Password"></label><br>
        <input style="width:100%" asp-for="Password" /><br>
    </div>
    <div>
        <label style="margin-top: 10px" asp-for="ConfirmPassword"></label><br>
        <input style="width:100%" asp-for="ConfirmPassword" /><br>
    </div>
    <div>
        <button style="width:100%; margin-top: 20px" type="submit">OK</button>
    </div>
</form>