@model AccountLoginViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor context
@{
    ViewData["Title"] = "Login";
}

<form style="width: 500px; margin-left: auto; margin-right: auto; padding: 10px"  asp-controller="Account" asp-action="Login" asp-route-returnUri="@context.HttpContext.Request.Query["returnUri"].ToString()" method="post">
    <h3 style="text-align: center">Login</h3>
    
    <div asp-validation-summary="All"></div>

    <div>
        <label style="margin-top: 10px;" asp-for="EMail"></label><br>
        <input style="width:100%" asp-for="EMail" /><br>
    </div>

    <div>
        <label style="margin-top: 10px;" asp-for="Password"></label><br>
        <input style="width:100%" asp-for="Password" /><br>
    </div>

    <div>
        <button style="width:100%; margin-top: 20px" type="submit">Login</button>
    </div>
</form>