@model Country

    <form method="delete" asp-controller="Country" asp-action="Delete">

        <div class="text-danger" asp-validation-summary="All" />

        <input asp-for="@Model.Id" type="hidden" />
        <div>
            <label asp-for="Code"></label>
            <input asp-for="Code" class="text-uppercase" value="@Model.Code" disabled /><br />

            <label asp-for="Name"></label>
            <input asp-for="Name" value="@Model.Name" disabled /><br />

            <button type="submit">Delete</button>
        </div>
    </form>
