@model Country

<form method="put" asp-controller="Country" asp-action="Modify1">
    
    <div class="text-danger" asp-validation-summary="All" />

    <div>
        <label asp-for="Code"></label>
        <input asp-for="Code" class="text-uppercase" value="@Model.Code"/><br />

        <label asp-for="Name"></label>
        <input asp-for="Name" value="@Model.Name"/><br />

        <button type="submit">Update</button>
    </div>
</form>
