@model Dealer

@{
    ViewData["Title"] = "Add New Dealer";
}

    <h1>Add New Dealer</h1>

<form method="post" asp-controller="CarDealer" asp-action="Add">

    <div class="text-danger" asp-validation-summary="All"></div>

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="text-uppercase" /><br />

        <label asp-for="Status"></label>
        <input asp-for="Status" /><br />

        <label asp-for="Street"></label>
        <input asp-for="Street" /><br />

        <label asp-for="City"></label>
        <input asp-for="City" /><br />

        <label asp-for="CountryState"></label>
        <input asp-for="CountryState" /><br />

        <label asp-for="Zip"></label>
        <input asp-for="Zip" /><br />

        <label asp-for="ContactPhone"></label>
        <input asp-for="ContactPhone" /><br />

        <label asp-for="WebSite"></label>
        <input asp-for="WebSite" /><br />

        <button type="submit">Add</button>
    </div>
</form>

